@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes animate {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-opcy {
  animation: animate 0.6s ease forwards;
}

@keyframes animate2 {
  0%{ opacity: 0; transform: translateY(20px); }
  30% { opacity: 1; transform: translateY(0); }
  80% { opacity: 1; transform: translateY(0); }
  100% {  opacity: 0; transform: translateY(-20px); }
}

.animate-opcy2 {
  animation: animate2 2.6s ease forwards;
}
@media(max-width:640px){
  .custom-w-size{
    width: 500px;
    padding: 0 15px 20px 15px;
  }
}

@media(max-width:500px){
  .custom-w-size{
    width: 400px;
    padding: 0 10px 20px 10px;
  }
  .custom-w-size2{
    height: 400px;
  }
}

@media(max-width:380px){
  .custom-w-size{
    width: 320px;
    padding: 0 30px 20px 30px;
  }
}

.range-slider {
  position: absolute;
  width: 100%;
  height: 2px;
  background: transparent;
  pointer-events: all;
  appearance: none;
}

/* CHROME / SAFARI */
.range-slider::-webkit-slider-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  background: #2563eb;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

/* FIREFOX */
.range-slider::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #2563eb;
  border-radius: 50%;
  cursor: pointer;
}


/* global css */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
